nav {
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    word-spacing: 8px;
    padding-right: 45px;
}
nav li {
    list-style: none;
    display: inline-block;
    padding-top: 20px;
    
}
#logo {
    float: left;
    padding-left: 5px;
    margin-top: 1.5px;
}
body {
    background: url(onwoodbackground.jpg) no-repeat center fixed;
    background-size: cover;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited { 
    color: white;
}
a:hover {
    color: blue;
}
.home {
    color: white;
    text-align: center;
    margin: 200px auto auto auto
}
.home h1 {
    font-size: 3.75em;
}
.home p {
    font-size:2.25em;
}
.bio {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0;
    margin: 0;
    posistion: relative;
}
.bio h1 {
    text-align: center;
}
.bio p {
    width: 73.242188%; 
    margin: auto auto 10px auto;
}
.contact-info {
    text-align: center;
    margin: auto auto auto auto;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.contact-info li {
    list-style-type: none;
}
.contact-info a {
    color: blue;
}
.technical-skills { 
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.resume-footer {
  text-align: center;
}
.portfolio h1 {
    text-align: center;
    color: white;
    font-size: 12.5em;
    margin-top: 20px;
}
.connect p {
    text-align: center;
}
.connect a {
    color: blue;
}
.connect {
    margin: 10% auto auto auto;
    font-size: 1.5em; /* 24/16 */
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.contact-form {
    display: block;
    text-align: center;
    width: 100%;
}
form {
    margin-left: 40%;
    margin-right: 40%;
}
.confirmation {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 200px auto auto auto;
}
#name{
   width: 100%; 
}
#mail {
   width: 100%;
}
#message {
    height: 75px;
    width: 100%;
    resize: none;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}