nav {
    background: white !important;
    color: black !important;
}
nav a:link {
    color: black !important;
    text-decoration: none;
}
nav a:visited { 
    color: black !important;
}
nav a:hover {
    color: blue !important;
}
.home {
    background: url(onwoodbackground.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:fixed;
    margin-top: 50px;
}
.bio {
    background: white;
}
.resume-header {
    text-align: center;
    background: #f1f1f1;
}
.resume-header a {
    color: blue;
}
.technical-skills { 
    background: #f1f1f1;
}
.portfolio {
    background: white;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
    color:black;
}
.carousel-caption {
    position: relative !important;
    left: auto !important;
    right: auto !important;
}
.codenamemdr {
    min-width: 10px;
    min-height: 10px;
}
.ndac {
    min-width: 10px;
    min-height: 10px;
}
.whitneybee {
    min-width: 10px;
    min-height: 10px;
}
.connect {
    font-size: 1.5em; /* 24/16 */
    background: #f1f1f1;
}
.contact-form {
    display: block;
    text-align: center;
    width: 100%;
}
.confirmation {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 200px auto auto auto;
}
#name{
   width: 100%; 
}
#mail {
   width: 100%;
}
#message {
    height: 75px;
    width: 100%;
    /*resize: none;*/
}
footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.white-text {
    color: white;
}
.black-text {
    color: black;
}